# 环境变量 
.env  

# py缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# 开源项目 
opensource_program/
base_llm/

# 数据文件
data/
!Node/data 

# 日志文件
*.log
logs/
!Node/logs

# 临时文件
tmp/

# csmar的相关文件
csmar.log 
token.txt

# 模型文件
llm/
models/
checkpoint/

# 结果文件
result/
empirical/  
baseline_sample.ipynb
heter_sample.ipynb
docs/过程资料/说明文档/other.md
docs/notebook/

